{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdFormation</th>
                <td>{{ formation.idFormation }}</td>
            </tr>
            <tr>
                <th>NomFormation</th>
                <td>{{ formation.NomFormation }}</td>
            </tr>
            <tr>
                <th>ThemeFormation</th>
                <td>{{ formation.ThemeFormation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formation.description }}</td>
            </tr>
            <tr>
                <th>Lien_formation</th>
                <td>{{ formation.lienFormation }}</td>
            </tr>
            <tr>
                <th>Niveau_difficulte</th>
                <td>{{ formation.niveauDifficulte }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ formation.niveau }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ formation.duree }}</td>
            </tr>
            <tr>
                <th>Image_url</th>
                <td>{{ formation.imageUrl }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ formation.date ? formation.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_formation_index') }}">back to list</a>

    <a href="{{ path('app_formation_edit', {'idFormation': formation.idFormation}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
