<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_front_office') }}">
        <i class="bi bi-speedometer2 menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_teletravail_index') }}">
        <i class="bi bi-laptop menu-icon"></i>
        <span class="menu-title">Télétravail</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path('formationEmp') }}">
        <i class="bi bi-easel menu-icon"></i>
        <span class="menu-title">Formation</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_reservation_salle_index') }}">
        <i class="bi bi-briefcase menu-icon"></i>
        <span class="menu-title">Salle</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_conge_index') }}">
        <i class="bi bi-calendar-check menu-icon"></i>
        <span class="menu-title">Gestion des Congés</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_reunion_index') }}">
        <i class="bi bi-people-fill menu-icon"></i>
        <span class="menu-title">Gestion des Réunions</span>
      </a>
    </li>

  </ul>
</nav>
