<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ asset('FrontOffice/vendors/feather/feather.css') }}">
  <link rel="stylesheet" href="{{ asset('FrontOffice/vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ asset('FrontOffice/vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
   {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('FrontOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
  <link rel="stylesheet" href="{{ asset('FrontOffice/vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('FrontOffice/js/select.dataTables.min.css') }}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ asset('FrontOffice/css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ asset('FrontOffice/images/favicon.png"') }}      {% endblock %}
        

</head>
<body>
   {% block body %}

  <div class="container-scroller">


    <!-- partial:partials/_navbar.html -->
    {% include 'partials/_navbar.html.twig' %}




    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

   
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
             {% include 'partials/_sidebarAdmin.html.twig' %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{ app.user.prenomUser }} {{ app.user.nomUser }}</h3>
                  <h6 class="font-weight-normal mb-0">Vous êtes dans le tableau de bord de gestion des utilisateurs. Gérez vos employés, candidats et responsables RH.</h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                      <a class="dropdown-item" href="#">January - March</a>
                      <a class="dropdown-item" href="#">March - June</a>
                      <a class="dropdown-item" href="#">June - August</a>
                      <a class="dropdown-item" href="#">August - November</a>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="BackOffice/images/dashboard/homepage.png" alt="people" style="width: 100%; height: 100%; object-fit: contain; position: relative; top: 0;">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Bangalore</h4>
                        <h6 class="font-weight-normal">India</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              {% block statistiques %}{% endblock %}
            </div>
          </div>
          
         
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
           {% include 'partials/_footer.html.twig' %}

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  {% block javascripts %}
  <script src="{{ asset('FrontOffice/vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ asset('FrontOffice/vendors/chart.js/Chart.min.js') }}"></script>
  <script src="{{ asset('FrontOffice/vendors/datatables.net/jquery.dataTables.js') }}"></script>
  <script src="{{ asset('FrontOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
  <script src="{{ asset('FrontOffice/js/dataTables.select.min.js') }}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{ asset('FrontOffice/js/off-canvas.js') }}"></script>
  <script src="{{ asset('FrontOffice/js/hoverable-collapse.js') }}"></script>
  <script src="{{ asset('FrontOffice/js/template.js') }}"></script>
  <script src="{{ asset('FrontOffice/js/settings.js') }}"></script>
  <script src="{{ asset('FrontOffice/js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ asset('FrontOffice/js/dashboard.js') }}"></script>
  <script src="{{ asset('FrontOffice/js/Chart.roundedBarCharts.js') }}"></script>
  <!-- End custom js for this page-->
  {% endblock %}{% endblock %}
</body>
</html>


